<!-- Modal -->
<div *ngIf="isModal" class="modal fade" (onHidden)="onHidden()" [config]="{ show: true }" bsModal #lgModal="bs-modal"
  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Venta de artículos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        
        <div class="">
          <label for="time">Cantidad</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-sort-numeric-up"></i></span>
            </div>
            <input type="number" [(ngModel)]="amount" class="form-control" id="time" placeholder="Cantidad">
          </div>
        </div>
        

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="icon cui-basket-loaded"></i></span>
          </div>
              <button class="form-control dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-describedby="basic-addon1" aria-haspopup="true" aria-expanded="false">
                {{ selectedArticule ? selectedArticule.name : 'Artículos'}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let articule of articules; index as i" (click)="changeArticule(i)">{{ articule.name }}</a>
              </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary text-white" (click)="hideModal()">Cancelar</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="saleArticule()">Realizar venta</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-primary"(click)="showModal()"><i class="icon cui-basket-loaded"></i>Realizar venta</button>