<div>
  <h4 class="float-left">Venta de artículos</h4>
  <div class="clearfix"></div>
  <buy-modal [articules]="articules"></buy-modal>
  <!-- <add-room-modal></add-room-modal> -->
  <!-- <button type="button" class="btn btn-outline-primary float-right"><i class="icon cui-basket-loaded"></i>Hacer compra</button> -->

  <table class="table table-hover margin-top">
    <thead class="red">
      <tr>
        <!-- <th scope="col">Cantidad disponible</th> -->
        <th scope="col">Artículos disponibles</th>
        
      </tr>
      
    </thead>
    <tbody>


      <tr *ngFor="let articule of articules">
        <!-- <th scope="row">20</th> -->
        <td>{{ articule.name | titlecase }}</td>
      </tr>







    </tbody>
  </table>


</div>
