<div>
  <h4>Ganancias</h4>
  <div class="row types">
    <!-- <div class="row"> -->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">Ganancias</div>
          <div>Members online</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-light">
        <div class="card-body pb-0">
          <div class="text-value">Billetes</div>
          <div class="text-primary">1 0000</div>
          <div>100</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-light">
        <div class="card-body pb-0">
          <div class="text-value">Billetes</div>
          <div class="text-primary">2 0000</div>
          <div>20</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-light">
        <div class="card-body pb-0">
          <div class="text-value">Billetes</div>
          <div class="text-primary">5 0000</div>
          <div>1</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-light">
        <div class="card-body pb-0">
          <div class="text-value">Billetes</div>
          <div class="text-primary">10 0000</div>
          <div>4</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-light">
        <div class="card-body pb-0">
          <div class="text-value">Billetes</div>
          <div class="text-primary">20 0000</div>
          <div>7</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-light">
        <div class="card-body pb-0">
          <div class="text-value">Billetes</div>
          <div class="text-primary">50 0000</div>
          <div>1</div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h5>Cambios de turno</h5>
  <button type="button" class="btn btn-outline-primary margin-bottom">Cambio de turno</button>

  <div class="input-group search">
    <div class="input-group-prepend">
      <span class="input-group-text" id="btnGroupAddon"><i class="icon cui-magnifying-glass"></i></span>
    </div>
    <input class="form-control" type="text" placeholder="Buscar" aria-label="Input group example" aria-describedby="btnGroupAddon">
  </div>

  <table class="table table-hover">
    <thead class="red">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Cédula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dinero recibido</th>
        <th scope="col">Dinero entregado</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">22/06/2010</th>
        <td>10:30 am</td>
        <td>201230245</td>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>20000</td>
        <td>30000</td>
      </tr>

      <tr>
        <th scope="row">22/06/2010</th>
        <td>10:30 am</td>
        <td>201230245</td>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>20000</td>
        <td>30000</td>
      </tr>

      <tr>
        <th scope="row">22/06/2010</th>
        <td>10:30 am</td>
        <td>201230245</td>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>20000</td>
        <td>30000</td>
      </tr>




    </tbody>
  </table>

</div>
