.card{
    height: 115px;
}

.col-sm-2{
    max-width: 12.5% !important;
}

.text-value{
    font-size: 18px;
}

.btn{
    margin-bottom: 2em;
    margin-top: 20px;
}

th{
    width: 14.295%;
}

hr{
    margin: 8px 0px;
}

.line{
    margin: 2em 0;
}