<div>
  <h4>Ganancias</h4>
  <div class="row types">
    <!-- <div class="row"> -->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-primary bg-light">
        <div class="card-body pb-0">
          <div class="text-value">Ganancia diaria</div>
          <div class="text-value">800 000</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-white">
        <div class="card-body pb-0">
          <div class="">Billetes de</div>
          <div>1 0000 <hr></div>
          <div class="text-value text-primary">100</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-white">
        <div class="card-body pb-0">
            <div class="">Billetes de</div>
            <div>2 0000 <hr></div>
            <div class="text-value text-primary">30</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-white">
        <div class="card-body pb-0">
            <div class="">Billetes de</div>
            <div>5 0000 <hr></div>
            <div class="text-value text-primary">0</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-white">
        <div class="card-body pb-0">
            <div class="">Billetes de</div>
            <div>10 0000<hr> </div>
            <div class="text-value text-primary">50</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-white">
        <div class="card-body pb-0">
            <div class="">Billetes de</div>
            <div>20 0000 <hr></div>
            <div class="text-value text-primary">200</div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card text-gray bg-white">
        <div class="card-body pb-0">
            <div class="">Billetes de</div>
            <div>50 0000 <hr></div>
            
            <div class="text-value text-primary">10</div>
        </div>
      </div>
    </div>
  </div>
  <hr class="line">

  <h5>Cambios de turno</h5>
  <add-income-modal></add-income-modal>
  

  <div class="input-group search">
    <div class="input-group-prepend">
      <span class="input-group-text" id="btnGroupAddon"><i class="icon cui-magnifying-glass"></i></span>
    </div>
    <input class="form-control" type="text" placeholder="Fecha" aria-label="Input group example" aria-describedby="btnGroupAddon">
  </div>

  <table class="table table-hover">
    <thead class="red">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Cédula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dinero recibido</th>
        <th scope="col">Dinero entregado</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">22/06/2010</th>
        <td>10:30 am</td>
        <td>201230245</td>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>20000</td>
        <td>30000</td>
      </tr>

      <tr>
        <th scope="row">22/06/2010</th>
        <td>10:30 am</td>
        <td>201230245</td>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>20000</td>
        <td>30000</td>
      </tr>

      <tr>
        <th scope="row">22/06/2010</th>
        <td>10:30 am</td>
        <td>201230245</td>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>20000</td>
        <td>30000</td>
      </tr>




    </tbody>
  </table>

</div>
