<div>
  <h4>Trabajadores</h4>

  <div class="input-group search">
    <div class="input-group-prepend">
      <span class="input-group-text" id="btnGroupAddon"><i class="icon cui-magnifying-glass"></i></span>
    </div>
    <input class="form-control" type="text" placeholder="Buscar" aria-label="Input group example" aria-describedby="btnGroupAddon">
  </div>

  <table class="table table-hover">
    <thead class="red">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Cédula</th>
        <th scope="col">Turno</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">1</th>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>201230245</td>
        <td>Día</td>
        <td>
          <a class="btn success" href="#">
            <i class="icon cui-pencil"></i>
          </a>
          <a class="btn red" href="#">
            <i class="icon cui-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>201230245</td>
        <td>Día</td>
        <td>
          <a class="btn success" href="#">
            <i class="icon cui-pencil"></i>
          </a>
          <a class="btn red" href="#">
            <i class="icon cui-trash"></i>
          </a>
        </td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Carlos</td>
        <td>Rodríguez</td>
        <td>201230245</td>
        <td>Día</td>
        <td>
          <a class="btn success" href="#">
            <i class="icon cui-pencil"></i>
          </a>
          <a class="btn red" href="#">
            <i class="icon cui-trash"></i>
          </a>
        </td>
      </tr>




    </tbody>
  </table>


</div>
