<div class="sidebar-lg-show app header-fixed aside-menu-fixed sidebar-lg-show pace-running pace-done aside-menu-lg-show">
  <!-- <header class="app-header navbar bar"> -->
  <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" data-toggle="sidebar-show" type="button"><span class="navbar-toggler-icon"> <i class="icon cui-list"></i></span></button>
  
<!-- </header> -->
  <div class="app-body">
    <div *ngIf="showHide()" class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">

          <li class="nav-item brand">
            <img src="../../../assets/tu&yo.png" alt="logo" width="100">
          </li>


          <li class="nav-item" routerLink="/rooms" [class.selected]="router.url === '/rooms'">
            <a class="nav-link white">
              <i class="icon cui-home "></i> Cabinas
            </a>
          </li>

          <li class="nav-item" routerLink="/employees" [class.selected]="router.url === '/employees'">
            <a class="nav-link white">
              <i class="icon cui-user"></i> Trabajadores
            </a>
          </li>

          <li class="nav-item" routerLink="" [class.selected]="router.url === '/'">
            <a class="nav-link  white">
              <i class="icon cui-basket-loaded"></i> Artículos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link  white" (click)="logout()">
              <i class="icon cui-settings"></i> Cerrar sesión
            </a>
          </li>

        </ul>
      </nav>
    </div>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
