<main>
<div class="col-md-12">
  <div class="container">
      <div class="col-md-4 content">
        <div>
          <img src="../../../assets/tu&yo-05.png" class="logo" alt="logo" width="130">
        </div>

        <form>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <input type="text" class="form-control"  placeholder="Username" name="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3 ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input type="text" class="form-control" type="password" placeholder="Password" name="Password" aria-describedby="basic-addon1">
          </div>

          <div>
              <button type="button" class="btn btn-primary">Login</button>
          </div>
          <!-- <div><a id="forget" href="#">Login</a></div> -->

        </form>
      </div>
    </div>
  </div>
</main>